﻿@using TimetableNotifier.Common
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.Error_500_Title</title>
</head>
<body>
    <hgroup>
        <h1>@Resources.Error_500_Title</h1>
        <h2>@Resources.Error_500_Text</h2>
    </hgroup>
</body>
</html>
