﻿@model IEnumerable<TimetableNotifier.WebApp.Models.Subscribers.AddSubscribtionResultVM>

@foreach (var result in Model)
{
    <div class="bs-component">
        <div class="alert alert-dismissible @result.CssClass" role="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <span class="glyphicon glyphicon-@result.Icon" aria-hidden="true"></span>&nbsp;&nbsp;@result.Message
        </div>
    </div>
}
