﻿@using CaptchaMvc.HtmlHelpers
@using TimetableNotifier.Common
@model TimetableNotifier.WebApp.Models.Subscribers.AddSubscribtionVM

<div id="add-subscribtion-pane">
    @if (Model.AddSubscribtionResultVMs != null)
    {
        Html.RenderPartial(MVC.Subscribers.Views._AddSubscribtionResultsList, Model.AddSubscribtionResultVMs);
    }

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Resources.AddSubscribtion_Pane_Title</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-12">

                @using (Ajax.BeginForm(MVC.Subscribers.ActionNames.AddSubscribtion, MVC.Subscribers.Name, new AjaxOptions
                {
                    HttpMethod = HttpVerbs.Post.ToString(),
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = "add-subscribtion-pane"
                }))
                {
                    <div id="form-steps-row" class="row flex-row">
                        <div class="col-sm-12 col-md-4 add-sub-step">
                            <h3>@Resources.AddSubscribtion_Step1</h3>
                            <div>
                                <p>@Resources.AddSubscribtion_Step1_descr</p>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon" id="sizing-addon1">@@</span>
                                @Html.TextBoxFor(m => m.Email, new { @placeholder = Resources.AddSubscribtion_Email_placeholder, @class = "form-control" })
                            </div>
                            <div>
                                @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-2 add-sub-step">
                            <h3>@Resources.AddSubscribtion_Step2</h3>
                            <div>
                                <p>@Resources.AddSubscribtion_Step2_descr</p>
                            </div>
                            <div>
                                @Html.EnumDropDownListFor(x => x.TypeOfStudies, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3 add-sub-step">
                            <h3>@Resources.AddSubscribtion_Step3</h3>
                            <p>@Resources.AddSubscribtion_Step3_descr</p>
                            @if (ViewBag.InvalidCaptchaMessage != null)
                            {
                                <b class="text-danger">Invalid Captcha</b>
                            }
                            @Html.MathCaptcha(Resources.AddSubscribtion_Captcha_AntoherExample,
                                Resources.AddSubscribtion_Captcha_Hint,
                                Resources.AddSubscribtion_Captcha_RequiredMessage,
                                true)
                        </div>
                        <div class="col-sm-12 col-md-3 add-sub-step">
                            <h3>@Resources.AddSubscribtion_Step4</h3>
                            <div>
                                <p>@Resources.AddSubscribtion_Step4_descr</p>
                            </div>
                            <input type="submit" value="@Resources.AddSubscribtion_Submit_btn" class="btn btn-primary" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $("#CaptchaInputText").addClass("form-control");
    });

    $(document).ready(function () {
        manageAddFormRowStyle();
    });

    $(window).resize(function () {
        manageAddFormRowStyle();
    });

    function manageAddFormRowStyle() {
        if ($(window).width() > 992) {
            $("#form-steps-row").addClass("flex-row");
        } else {
            $("#form-steps-row").removeClass("flex-row");
        }
    }
</script>