﻿@using TimetableNotifier.Common
@model TimetableNotifier.WebApp.Models.Subscribers.RemoveSubscribtionVM

<div id="remove-subscribtion-pane">
    @if (Model.Result != null)
    {
        Html.RenderPartial(MVC.Subscribers.Views._RemoveSubscribtionResult, Model.Result);
    }

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">@Resources.RemoveSubscribtion_Pane_Title</h3>
        </div>
        <div class="panel-body">
            <div>
                @using (Ajax.BeginForm(MVC.Subscribers.ActionNames.RemoveSubscribtion, MVC.Subscribers.Name, new AjaxOptions
                {
                    UpdateTargetId = "remove-subscribtion-pane",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = HttpVerbs.Post.ToString()
                }))
                {
                    <div class="input-group">
                        <span class="input-group-addon" id="sizing-addon1">@@</span>
                        @Html.TextBoxFor(m => m.Email, new { @placeholder = Resources.RemoveSubscribtion_Email_placeholder, @class = "form-control" })
                        <input type="submit" value="@Resources.RemoveSubscribtion_Submit_btn" class="btn btn-primary" />
                    </div>
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "text-danger" })
                    </div>

                }
            </div>
        </div>
    </div>
</div>
