﻿@model TimetableNotifier.WebApp.Models.Subscribers.RemoveSubscribtionResultVM

<div class="bs-component">
    <div class="alert alert-dismissible @Model.CssClass" role="alert">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <span class="glyphicon glyphicon-@Model.Icon" aria-hidden="true"></span>&nbsp;&nbsp;@Model.Message
    </div>
</div>
