﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.add-sub-step {
    background-color: #f2f2f2;
    border-left: #fff .5em solid;
    border-bottom: #fff .5em solid;
    padding: .5em 1em;
}

.flex-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}