﻿@using System.ComponentModel.DataAnnotations
@using System.Reflection
@model Enum
@{
    var name = ViewData.TemplateInfo.HtmlFieldPrefix;
    var type = Model.GetType();
}

@foreach (Enum e in Enum.GetValues(type))
{
    var display = type.GetField(e.ToString()).GetCustomAttribute<DisplayAttribute>();
    if (display != null && (display.GetAutoGenerateField() ?? true))
    {
        <label class="checkbox" title="@display.GetDescription()">
            <input type="checkbox" name="@name" value="@e.ToString()" checked="@Model.HasFlag(e)" />
            @display.Name
        </label>
    }
}